<html>
<head>
    <title>New contact created!</title>
</head>
<body>
    <h1>Here's what your new contact looks like'</h1>
    <p>Name: {{ newcontact.getName }}</p>
      <ul>
        <li>Phone number: {{ newcontact.getPhone }} </li>
        <li>Address: {{ newcontact.getAdress }} </li>
      </ul>
    <p><a href='/'>View all the jobs you've listed.</a></p>
</body>
</html>
